<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sohee.finedust">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:name="com.sohee.finedust.ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FineDust"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.sohee.finedust.ui.detail.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sohee.finedust.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sohee.finedust.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sohee.finedust.ui.location.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sohee.finedust.ui.AppDescriptionActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="XXXXXXXXXXXXXXXXXXXXXXXXXXXX" />

        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>
</manifest>